html{
  background-color: #f0f2f5;
}

body {
  width:1263px;
  height: 720px;
  bottom:720px;
  align-items: center;
  display: flex;
}

h2{
  font-weight: bolder;
  font-size: 50px;
  color:#1877f2;
  align-items: center;
}

h4{
  font-size: 25px;
  color:black;
  font-weight: lighter;
  align-items: center;
}

div{
  width:396px;
  height:353px;
  right:1117px;
  top:130px;
  bottom:483px;
  background-color:white;
  display:inline-block;
  align-items:flex-end;
  border-radius: 30px;
}

form{
  font-size: 15px;
  font-weight:lighter;
  font-family: monospace;
  align-items: center;
  display: run-in;
}

.secret {
  
}
